@{ String? action = ViewContext.RouteData.Values["action"] as String; }

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(ViewBag.Title ?? Resource.ForPage(ViewContext.RouteData.Values))</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/rome/rome.css">
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="~/css/font-awesome/solid.css">
        <link rel="stylesheet" href="~/css/font-awesome/regular.css">
        <link rel="stylesheet" href="~/css/font-awesome/fontawesome.css">
        <link rel="stylesheet" href="~/css/mvc-lookup/mvc-lookup.css">
        <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css">
        <link rel="stylesheet" href="~/css/mvc-tree/mvc-tree.css">
        <link rel="stylesheet" href="~/css/shared/alerts.css">
        <link rel="stylesheet" href="~/css/shared/content.css">
        <link rel="stylesheet" href="~/css/shared/header.css">
        <link rel="stylesheet" href="~/css/shared/navigation.css">
        <link rel="stylesheet" href="~/css/shared/overrides.css">
        <link rel="stylesheet" href="~/css/shared/private.css">
        <link rel="stylesheet" href="~/css/shared/table.css">
        <link rel="stylesheet" href="~/css/shared/widget-box.css">
        <link rel="stylesheet" action="shared">
        <link rel="stylesheet" action="@action">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/private/vendor.min.css">
        <link asp-append-version="true" rel="stylesheet" href="~/css/private/site.min.css">
        <link asp-append-version="true" action="shared" rel="stylesheet">
        <link asp-append-version="true" action="@action" rel="stylesheet">
    </environment>
</head>
<body>
    <partial name="MvcLookup/_Dialog" />

    <div class="header">
        <div class="btn">
            <a asp-action="Edit" asp-controller="Profile" asp-area="">
                <span class="fa fa-user"></span>
                <span class="text">@Resource.ForAction("Profile")</span>
            </a>
        </div>
        @{ ILanguages languages = Context.RequestServices.GetService<ILanguages>(); }
        @if (languages.Supported.Length > 1)
        {
            <div class="btn dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="true">
                    <span class="fa fa-flag"></span>
                    <span class="text">@Resource.ForAction("Language")</span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    @foreach (Language language in languages.Supported)
                    {
                        <a class="dropdown-item" href="@Url.Action("Index", "Home", new { area = "", language = language == languages.Default ? "" : language.Abbreviation })">
                            <img src="@Url.Content($"~/img/flags/{language.Abbreviation}.gif")" width="16" height="11" alt="">
                            @language.Name
                        </a>
                    }
                </div>
            </div>
        }
        <div class="btn">
            <a asp-action="Logout" asp-controller="Auth" asp-area="">
                <span class="fa fa-share"></span>
                <span class="text">@Resource.ForAction("Logout")</span>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="navigation">
            <div class="navigation-search">
                <input type="search" placeholder="@(Resource.ForAction("Search"))..." />
            </div>
            @{ ISiteMap siteMap = Context.RequestServices.GetRequiredService<ISiteMap>(); }
            <partial name="_SiteMap" model="@siteMap.For(ViewContext)" />
        </div>
        <div class="main-content">
            <hr />

            <div class="breadcrumb">
                @{ SiteMapNode[] breadcrumb = siteMap.BreadcrumbFor(ViewContext).ToArray(); }
                @for (Int32 i = 0; i < breadcrumb.Length; i++)
                {
                    SiteMapNode node = breadcrumb[i];
                    if (i == breadcrumb.Length - 1)
                    {
                        <a class="current">
                            <span class="icon @node.IconClass"></span>
                            <span class="text">@node.Title</span>
                        </a>
                    }
                    else if (node.Action != null)
                    {
                        <a href="@node.Url">
                            <span class="icon @node.IconClass"></span>
                            <span class="text">@node.Title</span>
                        </a>
                    }
                }
            </div>

            <hr class="mb-0" />

            <div class="container-fluid">
                <div class="row">
                    <div class="alerts col-12">
                        @if (TempData["Alerts"] is String alerts)
                        {
                            foreach (Alert alert in JsonSerializer.Deserialize<Alerts>(alerts))
                            {
                                <div id="@alert.Id" class="alert alert-@alert.Type.ToString().ToLowerInvariant() fade show" data-timeout="@alert.Timeout">
                                    <span>@alert.Message</span>
                                    <span class="close" data-dismiss="alert">×</span>
                                </div>
                            }
                        }
                    </div>

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        @DateTime.Now.Year &copy; All rights reserved.
    </div>

    <environment names="Development">
        <script src="~/js/numbro/numbro.js"></script>
        <script src="~/js/numbro/cultures/numbro.en.js"></script>
        <script src="~/js/moment/moment.js"></script>
        <script src="~/js/moment/cultures/moment.en.js"></script>
        <script src="~/js/rome/rome.standalone.js"></script>
        <script src="~/js/mvc-lookup/mvc-lookup.js"></script>
        <script src="~/js/mvc-lookup/cultures/mvc-lookup.en.js"></script>
        <script src="~/js/mvc-grid/mvc-grid.js"></script>
        <script src="~/js/mvc-grid/cultures/mvc-grid.en.js"></script>
        <script src="~/js/mvc-tree/mvc-tree.js"></script>
        <script src="~/js/bootstrap/bootstrap-native.js"></script>
        <script src="~/js/wellidate/wellidate.js"></script>
        <script src="~/js/shared/widgets/alerts.js"></script>
        <script src="~/js/shared/widgets/datepicker.js"></script>
        <script src="~/js/shared/widgets/grid.js"></script>
        <script src="~/js/shared/widgets/header.js"></script>
        <script src="~/js/shared/widgets/tree.js"></script>
        <script src="~/js/shared/widgets/lookup.js"></script>
        <script src="~/js/shared/widgets/navigation.js"></script>
        <script src="~/js/shared/widgets/validator.js"></script>
        <script action="shared"></script>
        <script action="@action"></script>
        <script src="~/js/shared/private.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/js/private/vendor.min.js"></script>
        <script asp-append-version="true" action="shared"></script>
        <script asp-append-version="true" action="@action"></script>
        <script asp-append-version="true" src="~/js/private/site.min.js"></script>
    </environment>
</body>
</html>
