@{ String? action = ViewContext.RouteData.Values["action"] as String; }

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(ViewBag.Title ?? Resource.ForPage(ViewContext.RouteData.Values))</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="~/css/font-awesome/solid.css">
        <link rel="stylesheet" href="~/css/font-awesome/regular.css">
        <link rel="stylesheet" href="~/css/font-awesome/fontawesome.css">
        <link rel="stylesheet" href="~/css/shared/alerts.css">
        <link rel="stylesheet" href="~/css/shared/content.css">
        <link rel="stylesheet" href="~/css/shared/overrides.css">
        <link rel="stylesheet" href="~/css/shared/public.css">
        <link rel="stylesheet" action="shared">
        <link rel="stylesheet" action="@action">
    </environment>
    <environment names="Staging,Production">
        <link asp-append-version="true" rel="stylesheet" href="~/css/public/vendor.min.css">
        <link asp-append-version="true" rel="stylesheet" href="~/css/public/site.min.css">
        <link asp-append-version="true" rel="stylesheet" action="shared">
        <link asp-append-version="true" rel="stylesheet" action="@action">
    </environment>
</head>
<body>
    <div class="main-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/bootstrap/bootstrap-native.js"></script>
        <script src="~/js/wellidate/wellidate.js"></script>
        <script src="~/js/shared/widgets/alerts.js"></script>
        <script src="~/js/shared/widgets/validator.js"></script>
        <script action="shared"></script>
        <script action="@action"></script>
        <script src="~/js/shared/public.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/js/public/vendor.min.js"></script>
        <script asp-append-version="true" src="~/js/public/site.min.js"></script>
    </environment>
</body>
</html>
