@model TenantView

<div class="col">
    <div class="widget-box readonly">
        <div class="widget-header">
            <span class="icon fa fa-th-list"></span>
            <h5>@Resource.ForHeader("Tenant")</h5>
            <div class="widget-header-buttons">
                <authorize action="Details">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn">
                        <span class="fa fa-info"></span><span class="text">@Resource.ForAction("Details")</span>
                    </a>
                </authorize>
                <authorize action="Edit">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn">
                        <span class="fa fa-pencil-alt"></span><span class="text">@Resource.ForAction("Edit")</span>
                    </a>
                </authorize>
            </div>
        </div>
        <div class="widget-content">
            <form asp-antiforgery="true">

                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="Title" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Title"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="CityId"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="CityId" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="CityId"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsInTrial"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="IsInTrial" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsInTrial"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="TrialStartDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="TrialStartDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="TrialStartDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="TrialEndDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="TrialEndDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="TrialEndDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidOut"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PaidOut" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidOut"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PeriodPaidOutId"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PeriodPaidOutId" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PeriodPaidOutId"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidStartDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PaidStartDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidStartDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidEndDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PaidEndDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidEndDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Disabled"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="Disabled" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Disabled"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="DisabledReason"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="DisabledReason" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="DisabledReason"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PaidDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PaidDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="NextBillingDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="NextBillingDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="NextBillingDate"></label>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="NextBillingDiscount"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="NextBillingDiscount" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="NextBillingDiscount"></label>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsPremium"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="IsPremium" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsPremium"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsVIP"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="IsVIP" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsVIP"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsLocked"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="IsLocked" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="IsLocked"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LockedDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="LockedDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LockedDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LockedReason"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="LockedReason" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LockedReason"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Activated"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="Activated" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Activated"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="ActivatedDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="ActivatedDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="ActivatedDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="ActivatedReason"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="ActivatedReason" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="ActivatedReason"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Upgraded"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="Upgraded" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Upgraded"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="UpgradedDate"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="UpgradedDate" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="UpgradedDate"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Enabled"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="Enabled" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="Enabled"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PostalCode"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="PostalCode" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="PostalCode"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="BusinessName"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="BusinessName" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="BusinessName"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="CustomCareTypeId"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="CustomCareTypeId" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="CustomCareTypeId"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LogoPath"></label>
                    </div>
                    <div class="control-content col-md-9 col-lg-5">
                        <input asp-for="LogoPath" />
                    </div>
                    <div class="control-label col-md-3 col-lg-2">
                        <label asp-for="LogoPath"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-actions col-lg-7">
                        <button class="btn btn-primary">@Resource.ForAction("Submit")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
